
// https://components.padilla.digital/?p=guidelines-easing for general usage guidlines

//use https://cubic-bezier.com to preview each setting
//example: https://cubic-bezier.com/#.25,0,.5,1 (ease-1)

$primitive-easing-variables: (
  'ease-1': cubic-bezier(.25,0,.5,1),
  'ease-2': cubic-bezier(.25,0,.4,1),
  'ease-3': cubic-bezier(.25,0,.3,1),
  'ease-4': cubic-bezier(.25,0,.2,1),
  'ease-5': cubic-bezier(.25,0,.1,1),
  'ease-in-1': cubic-bezier(.25,0,1,1),
  'ease-in-2': cubic-bezier(.50,0,1,1),
  'ease-in-3': cubic-bezier(.70,0,1,1),
  'ease-in-4': cubic-bezier(.90,0,1,1),
  'ease-in-5': cubic-bezier(1,0,1,1),
  'ease-out-1': cubic-bezier(0,0,.75,1),
  'ease-out-2': cubic-bezier(0,0,.50,1),
  'ease-out-3': cubic-bezier(0,0,.3,1),
  'ease-out-4': cubic-bezier(0,0,.1,1),
  'ease-out-5': cubic-bezier(0,0,0,1),
  'ease-in-out-1': cubic-bezier(.1,0,.9,1),
  'ease-in-out-2': cubic-bezier(.3,0,.7,1),
  'ease-in-out-3': cubic-bezier(.5,0,.5,1),
  'ease-in-out-4': cubic-bezier(.7,0,.3,1),
  'ease-in-out-5': cubic-bezier(.9,0,.1,1)
);
