@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,800;0,900;0,1000;1,400&display=swap');


$primitive-font-variables : ('playfair' : "'Playfair Display', serif",
  'nunito' : "'Nunito', sans-serif"
);

$semantic-font-variables : ('display' : var(--font-playfair),
  'body' : var(--font-nunito))