// These values are unit agnostic, so they can be used as ems or rems.
$primitive-width-variables: (
  '20': 20, //320px
  '30': 30, //480px
  '40': 40, //640px
  '48': 48, //768px
  '64': 64, //1024px
  '75': 75, //1200px
  '80': 80, //1280px
  '90': 90 //1440px
);

$semantic-width-variables : (
  'width-default' : var(--width-75)
)