body {
  color: var(--gray-1);
  font-family: var(--font-body);
}


button {
  color: inherit;
  text-align: inherit;
  display: block;
  line-height: 1;
  cursor: pointer;
}

button:disabled {
  cursor: default;

  * {
    cursor: default;
  }
}

::placeholder {
  color: var(--gray-50);
}

textarea {
  form-sizing: normal
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  // Stack above custom arrow
  z-index: 1;

  // Remove dropdown arrow in IE10 & IE11
  // @link https://www.filamentgroup.com/lab/select-css.html
  &::-ms-expand {
    display: none;
  }

  // Remove focus outline, will add on alternate element
  outline: none;
}

small {
  font-size: var(--s-2);
}